*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'fira code';
    color: rgb(255, 255, 255);
}
html{
    scroll-behavior: smooth;
}
html,
body{
    height: 100%;
    width: 100%;
}
#root{
    min-height: 100dvh;
    min-height: 100vh;
}

body{
    background-color: #373737;
}

#core-concepts,
#terms,
#contact {
  scroll-margin-top: 1.5rem;
}